.header_container {
  /* background-color: #383838; */
  font-family: 'Rambla', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  /* box-shadow: 1px 1px 1px #383838; */
  height: 60px;
}

.header_main {
  margin-top: 2%;
}

.header_right {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.header_link {
  text-decoration: none;
  color: rgb(212, 212, 212);
}

.header_link:focus {
border-bottom: 2px solid purple;
}

.header_link:hover {
    color: #fff;
}
